<head>
    <link rel="stylesheet" href="/styles/show.css">
</head>

<nav>
    <div class="edit_btns_container">
        <a href="/events"> <h3 class="nav_btn btn font">Back</h3> </a>
        <a href="/events/<%= _id %>/edit "> <h3 class="nav_btn btn font">Edit</h3> </a>
    </div>
    <h3 class="show page_title"> <%= name %> </h3>

    <div class="dropdown">
        <button class="dropdown_btn btn nav_btn"><i class="fa-solid fa-chevron-down"></i></button>
        <div class="nav_menue">
            <a href="/bands" class="btn nav_btn">Bands</a>
            <a href="/venues" class="btn nav_btn">Venues</a>
            <a href="/events/new" class="btn nav_btn">Add New Event</a>
        </div>
    </div>
</nav>

<main>

    <div class="main-info main-section">
        
        <div class="subsection subsection-one">

            <!-- MAIN IMAGE -->
                <div class="show-section main-img-section">
                    <div class="main-img-container">
                        <% if(images.main) { %> 
                            <a href="<%= images.main %> " target="_blank">
                                <img class="page-img main-img" src="<%= images.main %> " alt="a picture about <%= name %> ">
                            </a>
                        <% } else if(! images.main && images.alt[0]) { %> 
                            <a href="<%= images.alt[0] %> " target="_blank">
                                <img class="page-img main-img" src="<%= images.alt[0] %> " alt="a picture about <%= name %> ">
                            </a>
                        <% } else { %>
                                <img class="page-img main-img" src="/assets/livemusic.jpeg" alt="a picture about live music ">
                        <% } %> 
                    </div>
                </div>

            <!-- ALT IMAGES -->    
                <div class="show show-section alt-img-section">
                    <% for(let i = 0; i < images.alt.length; i++) { %> 
                        <div class="alt-img-container">
                            <a href="<%= images.alt[i] %> " target="_blank">
                                <img class="alt-img" src="<%= images.alt[i] %>" alt="a picture of <%= name %> "/>
                            </a>
                        </div>
                    <% } %> 
                </div>

            <!-- DATE -->
                <div class="show-section date-section">
                    <span> Day: <%= date.getDay() %> </span>
                    <span> Date: <%= date.getDate() %> </span>
                    <span> Month: <%= date.getMonth() %> </span>
                    <span> Year: <%= date.getYear() %> </span>
                </div>

            <!-- FEATURED BANDS -->    
                <div class="show show-section upcoming-events-section">
                    <h4 class="section-title">Featured Artists</h4>
                    <div class="events_container">
                        <% for(let i = 0; i < featured_bands.length; i++) { %> 
                            <div class="event">
                                <p><%= featured_bands[i] %></p>
                            </div>
                        <% } %> 
                    </div>
                </div>
        </div>

        <div class="subsection subsection-two">

            <div class="main-bio">
                <!-- DESCRIPTION -->
                    <div class="show-section biography-section">
                        <h4 class="section-title">Description</h4>
                        <p> <%= description %> </p>
                    </div>

                <!-- LOCATION -->
                    <div class="show show-section orign-section">
                        <h4 class="section-title">Location</h4>
                        <% if(location.city) { %> 
                            <span> <%= location.city %>, </span>
                        <% } %> 
                        <% if(location.state) { %> 
                            <span> <%= location.state %> </span>
                        <% } %> 
                        <% if(location.country) { %> 
                            <span><%= location.country %></span>
                        <% } %> 
                    </div>
            </div>

        </div>

        <div class="subsection subsection-three">
        
            <!-- GENRES -->
                <div class="show show-section genres-section">
                    <h4>Genres</h4>
                    <ul>
                        <% for(let i = 0; i < genres.length; i++) { %>
                            <li> <%= genres[i] %> </li>
                        <% } %>  
                    </ul>
                </div>
        </div>
      
    </div>

</main>