<main>

    <nav>
        <h3 class="page_title font">Venues</h3>
        <div class="dropdown">
            <button class="dropdown_btn btn nav_btn"><i class="fa-solid fa-chevron-down"></i></button>
            <div class="nav_menue">
                <a href="/bands" class="btn header_btn">Bands</a>
                <a href="/events" class="btn header_btn">Events</a>
                <a href="/venues/new" class="btn header_btn">Add New Venue</a>
            </div>
        </div>
    </nav>


    <!-- Full Data Grid -->
    <div class="section index">

        <% for(let i = 0; i < allVenues.length; i++) { %> 
            <div class="venue_card card">

            <a href="/venues/<%= allVenues[i]._id %> "> 
                
                <div class="card_name">
                    <h3><%= allVenues[i].name %></h3>
                </div>

                <% if(allVenues[i].images.main) { %> 
                    <img class="card_img crop" src="<%= allVenues[i].images.main%>" alt="a picture of <%= allVenues[i].name %>">
                <% } else if(! allVenues[i].images.main && allVenues[i].images.alt[0]) { %>
                    <img class="card_img crop" src="<%= allVenues[i].images.alt[0] %> " alt="a picture of <%= allVenues[i].name %>">
                <% } else { %>
                    <img class="card_img crop" src="/assets/livemusic.jpeg" alt="a picture of live music">
                <% } %> 
            </a>

            <div class="card_btns_container">
                <a href="/venues/<%= allVenues[i]._id %>/edit">
                    <button class="card_btn btn update_btn">UPDATE</button>
                </a>
                <form action="/venues/<%= allVenues[i]._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" class="btn card_btn">
                </form>
            </div>

            </div>
        <% } %> 
    </div>
</main>      